@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: pink;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#944C6F;
}

body {
    background-color:#7BAACC;
    font-family: 'Exo 2', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

header {
    background-color:#944C6F;
}
nav a:hover {
    background-color: white;
    color:red
}
.book, .join {
    background-color:#944C6F;
    color:pink;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color:#944C6F;
    color:red
}

.msg {
    background-color:#944C6F;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color:#944C6F;
    color:pink;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: pink;
    font-family: 'Exo 2', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: pink
}
.msg h2 {
    color: pink;
    font-family: 'Open sans', sans-serif;
}
.msg p {
    color:pink;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color:pink;
    text-decoration: none;
}
footer a:hover {
    color: red
}
.icon {
    width: 80px;
    padding-top: 15px;
}
.logo {
    width: 80px
}
#hero-img {
    width: 100%
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black
}
main section img {
    box-sizing: border-box;
}
.mountains {
    margin: 100px;
}